[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git

[submodule "docs/ARO/aro_docs"]
	path = docs/ARO/aro_docs
	url = https://github.com/cwooley-rh/mobb_aro_doc.git
[submodule "docs/ROSA/rosa-docs"]
	path = docs/ROSA/rosa-docs
	url = https://github.com/cwooley-rh/mobb-rosa-doc.git
